#body {
    padding-top: 10px;
}

.navbar {
    background-color: white;
    border: 0;
    margin-bottom: 20px;
}

.navbar .container {
    background-color: #007E3E; /* vert Desjardins */
    background-image: -moz-linear-gradient(top, #007E3E, #005a2a);
    background-image: -ms-linear-gradient(top, #007E3E, #005a2a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#007E3E), to(#005a2a));
    background-image: -webkit-linear-gradient(top, #007E3E, #005a2a);
    background-image: -o-linear-gradient(top, #007E3E, #005a2a);
    background-image: linear-gradient(to bottom, #007E3E, #005a2a);
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.btn {
    background-color: white;
}

.icon-white {
    color: white;
}
