name: Tests tests
'on':
  #workflow_dispatch:
  push:
    branches:
      - dev

jobs:
  Tests-on-dev-environment:
    runs-on: ubuntu-latest
   # needs: Deploy-to-dev-environment-aPaas
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies for Cypress
        run: |
          npm install cypress wait-on
          npm install --save-dev mocha-junit-reporter
      - name: Wait for app to be up
        run: npx wait-on https://spring-music-hgckhuf3gza0bvb2.canadacentral-01.azurewebsites.net/
      - name: Run Cypress tests on Chrome
        run: npx cypress run --browser chrome
      - name: Check reports
        run: |
          ls -laRth cypress
          cat cypress/reports/junit/test-results.xml
      - name: Copy results after Chrome
        run: |
          mkdir -p artifacts/chrome
          cp -r cypress/screenshots artifacts/chrome/screenshots || true
          cp -r cypress/videos artifacts/chrome/videos || true
          cp -r cypress/reports/junit artifacts/chrome/junit || true
      - name: Run Cypress tests on Edge
        run: npx cypress run --browser edge
      - name: Copy results after Edge
        run: |
          mkdir -p artifacts/edge
          cp -r cypress/screenshots artifacts/edge/screenshots || true
          cp -r cypress/videos artifacts/edge/videos || true
          cp -r cypress/reports/junit artifacts/edge/junit || true
      - name: Run Cypress tests on Firefox
        run: npx cypress run --browser firefox || echo "Skipping Firefox"
      - name: Copy results after Firefox
        run: |
          mkdir -p artifacts/firefox
          cp -r cypress/screenshots artifacts/firefox/screenshots || true
          cp -r cypress/videos artifacts/firefox/videos || true
          cp -r cypress/reports/junit artifacts/firefox/junit || true
      - name: Upload Cypress screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: artifacts/**/screenshots
      - name: Upload Cypress videos
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-videos
          path: artifacts/**/videos 
      - name: Upload Cypress reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-reports
          path: artifacts/**/junit 

      - name: Check resulat.xml
        run: | 
          ls -laRth artifacts
          cat artifacts/chrome/junit/test-results.xml
      
      - name: Authenticate and Upload to Xray Cloud
        run: |
          # 1. Authentification pour récupérer le token
          TOKEN=$(curl -s -X POST https://xray.cloud.getxray.app/api/v2/authenticate \
            -H "Content-Type: application/json" \
            -d '{"client_id": "${{ secrets.XRAY_CLIENTID }}", "client_secret": "${{ secrets.XRAY_CLIENT_SECRET }}"}' | tr -d '"')

          # 2. Affichage (optionnel) pour vérification
          echo "Token retrieved successfully"

          # 3. Upload du fichier de résultats JUnit
          curl -H "Authorization: Bearer $TOKEN" \
           --data-binary @artifacts/chrome/junit/test-results.xml;type=text/xml \
           https://xray.cloud.getxray.app/api/v2/import/execution/junit?projectKey=SPRIN

      - name: Sucess message
        run: >-
          echo "All the tests have passed!!! We can now promote the snapshot to a release!!!  Go ckech the resulat on X-Ray"
